$Title-big: 2em; 
$Title-medium: 1.5em;
$Title-small: 1.5em;
$Label-medium: 1em;
$Label-small:.75em;
$Paragraph-big: 1em;
$Paragraph-small: .6em;


$Max-width: 1200px;
$Width-button:14em;

$Height-Header: 4em;
$Height-button: 2.5em;

//Z-Index
$Z-index-back-back: -10;
$Z-index-back: -1;
$Z-index-normal: 1;
$Z-index-frond: 1000;



:root{

    --Primary-color: #03A9f4;
    --Secondary-color: #ffffff ;
    --Tertiary-color: #ffffff;


}


